.box1{
  margin: 0 auto;
  width: 50%;
  max-width: 500px;
  height: 100vh;
  
  background-color: rgba(234, 234, 254, 1);
  /* background-color: #EAEAFE; */
  box-sizing: border-box;
  
}



@media  (max-width: 723px) {
  .box1 {
      width: 100%;
  }
}
